<li>
	{{burgerReq}}

	<button class="change-sleep" data-id="{{id}}" data-burgerEaten="{{eaten}}">
		{{#if eat}}EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
